@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 64px;
  --page-padding: 20px;
  --page-width: 1000px;
  --page-width-with-padding: calc(var(--page-width) + calc(2 * var(--page-padding)));
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@layer utilities {
  .text-transparent {
    -webkit-text-fill-color: transparent;
  }
}