@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 64px;

  --page-padding: 20px;
  --page-width: 1200px;
  --page-width-with-padding: calc(var(--page-width) + calc(2 * var(--page-padding)));

  --logo-gradient: linear-gradient(to bottom right, #10b981, #eab308)
}

body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}